@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');



* {
    box-sizing: border-box;
	 transition: 0.5s;
}

html {
	scroll-behavior: smooth;
}

body {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 100px;
  background-image:
    url(bg-pattern-top.svg),
    url("bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-color: hsl(185, 75%, 39%);
  background-position: -400px -400px, 700px 400px;
  background-origin: content-box, padding-box;
  font-family: "Kumbh Sans";
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  margin-top: 100px;
  border-radius: 20px;
  text-align: center;
  max-width: 400px;
  background-color: white;
}


#top {
  background: url("bg-pattern-card.svg");
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

#avatar {
  position: relative;
  z-index: 1;
  top: -10%;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  background-color: none;
  background-image: url('image-victor.jpg');
  background-size: cover;
  margin-top: 100px;
  border: 7px solid white;
}

#victor {
  padding-top: 50px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

#victor span {
  color: hsl(227, 10%, 46%);
  font-size: 20px;
  font-weight: 400;
}

hr {
  text-align: center;
  width: 100%;
  border-top: 0.1px solid hsl(0, 0%, 59%);
  opacity: 50%;
  margin-top: 30px;
}

#bottom {
  width: 100%;
  height: 60%;
  padding: 25px;
}

#bottom span {
  font-weight: 400;
  font-size: 18px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  color: hsl(227, 10%, 46%);
  font-weight: 400;
  margin: 10px 25px;
}

section p {
  font-size:24px;
  font-weight: 700;
  margin: 0;
  hsl(185, 75%, 39%)
}


.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 50px;
  color: yellow;
}

.attribution a {
  color: white;
}

@media (max-width: 555px) {
  body {
  background-position: -600px -600px, 250px 300px;
  }
  
  #container {
    max-width: 360px;
  }
}
